<style>
  body {
  display: flex;
  }
  .file_input_div {
  margin: auto;
  }
  .file_input {
  float: left;
  }
  #file_input_text_div {
  margin-top: -8px;
  margin-left: 5px;
  }
  .none {
    display: none;
  }
  p {
    font-size:16px;
  }
  .img {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
  }
  .img-name {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    margin:0 auto;
    background:rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    font-size: 12px;
  }
  .img-cross
  {
    position:absolute;
    top:-5px;
    right:-5px;
  }
</style>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col">
    <p>
      <span class="d-inline-block pt-3">{{funID(id)}} . {{json.name}}</span>
      <span *ngIf="json.required" class="requiredMsg d-inline-block"><b>*</b></span>
      <span *ngIf="json.helptext" class="mdl-badge d-inline-block" data-badge="i" id="Tsample{{funID(id)}}"></span>
      <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored float-right">
          <i class="material-icons">photo_camera</i>
          <input id="file_input_file101" type="file" class="none" accept="image/*" capture="camera" (change)="getVal($event);"/>
          <!-- <input id="file_input_file101"  type="file" class="none" accept="video/*" capture="camcorder"  (change)="getVal($event);"/> -->
      </label>
    </p>
  </div>
  <div class="mdl-cell mdl-cell--10-col d-inline-block mt-0 mb-0" style="min-height:150px;">
    <!--<div class="file_input_div m-0">
      <div class="file_input">-->
        <div style="position:relative;height:100%;">
          <!--<object data="" type="image/png">-->
          <img [src]="url" class="img" alt="Upload Image" style="border:1px solid #ddd;line-height:800%;text-align:center;background:rgba(0,0,0,0.04);" />
          <!--</object>-->
          <!-- <video *ngIf="url" width="320" height="240" controls>
            <source [src]="url" >
            Your browser does not support the video tag.
          </video> -->
          <div *ngIf="name" class="img-name">{{name}}</div>
          <div *ngIf="name" class="img-cross" style="border:1px solid #ccc;border-radius:30px;background:#000;color:#fff;font-size:0px;">
              <i class="material-icons" (click)="deleteFile()">clear</i>
          </div>
        </div>
        <!--
        <div *ngIf="name">
          {{name}}<i class="material-icons">clear</i>
        </div>
      -->
      <!--</div>
    </div>--><!--file_input_div m-0-->
  </div>
  <span *ngIf='json.errorMsg' class="mdl-chip  margin-top-prop">
      <span class="mdl-chip__text errorMsg"><b> # {{json.errorMsg}} </b> </span>
  </span>
  <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>
</div>
<br />