<style>

  body {
  display: flex;
  }

  .file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
  }

  .file_input {
  float: left;
  }

  #file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
  }

  .none {
    display: none;
  }

  img{
    width: 40%;
    height: auto;
    margin: auto;
  }

</style>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">{{funID(id)}} . {{json.name}}
    <span  *ngIf="json.required" class=" requiredMsg"><b> * </b> </span>
  </div>
  <div class="mdl-cell mdl-cell--7-col">
    <span  *ngIf="json.helptext" style="float: right" class="mdl-badge" data-badge="i" id="Tsample{{funID(id)}}"  ></span>
    <div class="file_input_div m-0">
      <div class="file_input">
        <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">photo_camera</i>
          <input id="file_input_file101"  type="file" class="none" accept="image/*" capture="camera"  (change)="getVal($event);"/>
          <!-- <input id="file_input_file101"  type="file" class="none" accept="video/*" capture="camcorder"  (change)="getVal($event);"/> -->
        </label>
        <div *ngIf="name" style="float: right">
          <i class="material-icons" style="float: right; cursor: pointer;" (click)="deleteFile()">clear</i>
        </div>
        <br /> <br />
        <img [src]="url" style="" />
        <!-- <video *ngIf="url" width="320" height="240" controls>
          <source [src]="url" >
          Your browser does not support the video tag.
        </video> -->
        <div *ngIf="name" style="float: right; margin: auto;">{{name}}</div>
        <br />
        <!-- <div *ngIf="name">
          {{name}}  <i class="material-icons">clear</i>
        </div> -->
      </div>
    </div>
  </div>

  <span *ngIf='json.errorMsg' class="mdl-chip  margin-top-prop">
      <span class="mdl-chip__text errorMsg"><b> # {{json.errorMsg}} </b> </span>
  </span>
  <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>

</div>
