<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--10-col">
    {{funID(id)}} .
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
      <input class="mdl-textfield__input" type="text" (change)="getVal()" [(ngModel)]='value'>
      <label class="mdl-textfield__label" >{{json.name}}</label>
    </div>

      <!-- <span class="mdl-badge" data-badge="i" id="sample{{funID(id)}}"  ></span>
      <label class="mdl-tooltip mdl-tooltip--large" for="sample{{funID(id)}}">{{json.helptext}}</label> -->

      <span *ngIf="json.helptext" class="mdl-badge" data-badge="i" id="Tsample{{funID(id)}}"  ></span>
      <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>

  </div>
</div>
