<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
{{funID(id)}} . {{json.name}}   <span  *ngIf="json.required" class=" requiredMsg"><b> * </b> </span>

<br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="date" id="sample3" (change)="getVal()" [(ngModel)]='value' min={{json.rangeFrom}} max={{json.rangeTo}}>
      <label class="mdl-textfield__label" ></label>
    </div>

        <span *ngIf="json.helptext" class="mdl-badge" data-badge="i" id="Tsample{{funID(id)}}"  ></span>

        <span *ngIf='json.errorMsg' class="mdl-chip  margin-top-prop">
            <span class="mdl-chip__text errorMsg"><b>  # {{json.errorMsg}} </b> </span>
        </span>

        <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>


  </div>
</div>
