<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right">
        <li class="mdl-menu__item">Logout <i class="material-icons">lock</i> </li>
        <li class="mdl-menu__item">User profile <i class="material-icons">perm_identity</i> </li>
      </ul>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-shadow--4dp">
    <span class="mdl-layout-title">QCI - Collect</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" [routerLink]="['/dash']"> <b> <i class="material-icons">store</i> Home </b> </a>
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" [routerLink]="['/dash']"> <b> <i class="material-icons">perm_identity</i> Profile </b> </a>
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" [routerLink]="['/dash']" (click)='sync()'> <b> <i class="material-icons">sync</i> Sync </b> </a>
      <a class="mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" [routerLink]="['/login']"> <i class="material-icons">lock</i> <b> Logout </b> </a>
    </nav>
  </div>
  <main class="mdl-layout__content commonProp " >

    <router-outlet></router-outlet>

  </main>
</div>
