<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
	<main class="mdl-layout__content col-sm-12 p-0">
		<div class="mdl-card mdl-shadow--6dp col-sm-12 p-0">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white" style="box-shadow:0px 10px 10px -10px #aaa;">
				<h2 class="mdl-card__title-text col-sm-12 d-block text-center">QCI Collect </h2>
			</div>
			<div class="mdl-card__supporting-text col-sm-12 mt-5 pt-5">
			<h5>Assessor module</h5>
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="name">
						<label class="mdl-textfield__label" for="name">Username</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="username" />
						<label class="mdl-textfield__label" for="username">Username</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="password" id="userpass" />
						<label class="mdl-textfield__label" for="userpass">Password</label>
					</div>
				</form>
			</div>
			<div class="mdl-card__actions col-sm-12">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" (click)='login()'>Log in </button>
			</div>
		</div>
	</main>
</div>