<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col">
  {{funID(id)}} . {{json.name}} <span  *ngIf="json.required" class=" requiredMsg"><b> * </b> </span>
  <br>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" ></label>
      <select [(ngModel)]="selectedValue" class="mdl-textfield__input" id="octane" name="octane" (change)='getVal()'>

        <option *ngFor='let opt of json.option; let i=i' [ngValue]=opt  [selected]="opt == json.value">{{opt}}</option>
      </select>
      <!-- <label class="mdl-textfield__label" for="octane">{{json.name}}</label> -->

    </div>
    <span  *ngIf="json.helptext"  class="mdl-badge" data-badge="i" id="Tsample{{funID(id)}}"  ></span>
    <span *ngIf='json.errorMsg' class="mdl-chip  margin-top-prop">
        <span class="mdl-chip__text errorMsg"><b>  # {{json.errorMsg}} </b> </span>
    </span>
    <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>

  </div>
</div>
