<style>

body {
display: flex;
}

.file_input_div {
margin: auto;
width: 250px;
height: 40px;
}

.file_input {
float: left;
}

#file_input_text_div {
width: 200px;
margin-top: -8px;
margin-left: 5px;
}

.none {
display: none;
}

</style>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">{{funID(id)}} . {{json.name}}</div>
  <div class="mdl-cell mdl-cell--7-col">
    <!-- <input type="file"  [accept]=json.fileTypes /> -->
    <div class="file_input_div">
  <div class="file_input">
    <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">file_upload</i>
      <input id="file_input_file" class="none" type="file" (change)="getVal($event);" [accept]=json.fileTypes/>
    </label>
  </div>
  <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">

    <input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" style="color:gray"
     [(ngModel)]='name'   />

    <label class="mdl-textfield__label" for="file_input_text"></label>
  </div>
</div>
  </div>
  <span  *ngIf="json.helptext" class="mdl-badge" data-badge="i" id="Tsample{{funID(id)}}"  ></span>
  <label class="mdl-tooltip mdl-tooltip--large" for="Tsample{{funID(id)}}">{{json.helptext}}</label>

</div>
