.demo-card-square.mdl-card {
  width: 100%;
  height: 100%;
}
.demo-card-square > .mdl-card__title {
  color: gray;
  /*background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*/
}
.formBoxHeight {
  min-height: 73vh;
  max-height: 73vh;
  overflow-y: auto;
}
.sectionBreak{
  margin: auto;
  height:18px;
  text-align: center;
  color: #424242;
  background-color: #ffd740;
  background: #ffd740 !important;
}
.backgroundColorClass{
  background: #ffd740 !important;
}
